<style type="text/css">
	.weui-cells{
		line-height:40px;
		margin-top:0px;
	}
</style>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="../resource/images/pic_160.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                </div>
                <div class="weui-cell__bd">
                    <p>程序员</p>
                    <p style="font-size: 13px;color: #888888;">我是一只猴子，写代码的猴子</p>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">修改密码</span>
                    <span class="weui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">清除缓存</span>
                    <span class="weui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="weui-cell__ft">详细信息</div>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">消息推送</span>
                    <span class="weui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="weui-cell__ft">
                	<label for="switchCP" class="weui-switch-cp">
                        <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked"/>
                        <div class="weui-switch-cp__box"></div>
                    </label>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">检查更新</span>
                    <span class="weui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">关于我们</span>
                    <span class="weui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>   
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">安全退出</span>
                    <span class="weui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>                       
        </div>